In [1]:
#Recursion----->Function Calling Itself

In [2]:
def function():
    function()

In [3]:
function()

RecursionError: maximum recursion depth exceeded

In [4]:
import sys

In [6]:
sys.getrecursionlimit()

3000

In [7]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
#Recursion---->A base condition is needed for succesfully complete the loop.

In [10]:
def hello(num):
    if num==0:
        return
    else:
        print(num)
        hello(num-1)

In [11]:
hello(10)

10
9
8
7
6
5
4
3
2
1

In [12]:
for i in range(10):
    print('*'*i)

*
**
***
****
*****
******
*******
********
*********

In [13]:
def star(num=1):
    if num==11:
        return
    else:
        print('*'*num)
        star(num+1)

In [14]:
star()

*
**
***
****
*****
******
*******
********
*********
**********

In [15]:
def star(num=10):
    if num==0:
        return 
    else:
        print('*'*num)
        star(num-1)

In [16]:
star()

**********
*********
********
*******
******
*****
****
***
**
*

In [19]:
def star(num=10):
    if num==0:
        return 
    else:
        print(' '*(10-num),'*'*num)
        star(num-1)

In [20]:
star()

 **********
  *********
   ********
    *******
     ******
      *****
       ****
        ***
         **
          *

In [21]:
def star(num=10):
    if num==0:
        return 
    else:
        print(' '*num,'*'*(10-num))
        star(num-1)

In [22]:
star()

          *
         **
        ***
       ****
      *****
     ******
    *******
   ********
  *********

In [31]:
def name1(name,start=1):
    if start==11:
        return
    else:
        print(name)
        name1(name,start+1)

In [32]:
name1('sachin')

sachin
sachin
sachin
sachin
sachin
sachin
sachin
sachin
sachin
sachin

In [35]:
def check(num=1):
    if num==101:
        return 
    else:
        if num%5==0 and num%7==0:
            print(num)
            check(num+1)
        else:
            check(num+1)

In [36]:
check()

35
70

In [39]:
def check(num=1):
    if num==101:
        return 
    else:
        if num%5==0 or num%7==0:
            print(num,end='\t')
            check(num+1)
        else:
            check(num+1)

In [40]:
check()

5	7	10	14	15	20	21	25	28	30	35	40	42	45	49	50	55	56	60	63	65	70	75	77	80	84	85	90	91	95	98	100

In [43]:
def prime(num,start=2):
    if start==num//2+1:
        return True
    elif start%num==0:
        return False
    else:
        return prime(num,start+1)

In [44]:
prime(121)

True

In [45]:
prime(127)

True

In [50]:
def fibonacci(num=1,s=0,e=1):
    if num==11:
        return 
    else:
        print(s)
        s,e=e,s+e
        fibonacci(num+1,s,e)

In [51]:
fibonacci()

0
1
1
2
3
5
8
13
21
34

In [56]:
def fibonacci(l=[0,1]):
    if len(l)==10:
        return l
    else:
        l.append(l[-1]+l[-2])
        return fibonacci(l)

In [57]:
fibonacci()

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [58]:
def pallidrome(num,r=0):
    if num==0:
        return r
    else:
        m=num%10
        r=r*10+m
        return pallidrome(num//10,r)

In [59]:
pallidrome(1221)

1221

In [60]:
pallidrome(12233221)

12233221

Enter a number to check pallindrome12321

In [64]:
x=int(input('Enter a number to check pallindrome'))

rev=pallidrome(x)
if x==rev:
    print('Pallindrome')
else:
    print('Not Pallindrome')

Enter a number to check pallindrome1234321
Pallindrome

<h2 style='color:green'>. Lambda</h2>

In [65]:
#function_name = lambda arguments : return sequences

In [66]:
def sq(x):
    return x**2

In [67]:
sq(4)

16

In [68]:
sq(9)

81

In [69]:
sq=lambda x:x**2

In [70]:
sq(8)

64

In [71]:
sq(5)

25

In [72]:
def hello(x,y):
    return x**2+y**2

In [73]:
hello(3,4)

25

In [74]:
hi=lambda x,y: x**2+y**2

In [75]:
hi(7,8)

113

In [76]:
def even(num):
    if num%2==0:
        return True
    else:
        return False

In [77]:
even(8)

True

In [78]:
even(9)

False

In [79]:
even1=lambda num: True if num%2==0 else False

In [80]:
even1(90)

True

In [81]:
even1(55)

False

In [82]:
even_odd=lambda num: 'Even' if num%2==0 else 'Odd'

In [83]:
even_odd(78)

'Even'

In [84]:
even_odd(99)

'Odd'

In [85]:
greater= lambda x,y : x if x>y else y

In [86]:
greater(4,5)

5

In [88]:
greater(10,9)

10

In [89]:
def hello(x,y,z):
    if x<y and x>z:
        return x
    elif y>z:
        return y
    else :
        return z

In [91]:
greater1=lambda x,y,z :x if x>y and x>z else y if y>z else z

In [92]:
greater1(3,4,5)

5

In [93]:
greater1(9,8,7)

9

In [94]:
greater1(1,6,2)

6

In [95]:
def prime(num,start=2):
    if start==num//2+1:
        return True
    elif start%num==0:
        return False
    else:
        return prime(num,start+1)

In [102]:
prime1=lambda num,start=2:True if start==num//2+1 else False if num%start==0 else prime1(num,start+1)

In [103]:
prime1(67)

True

In [104]:
prime1(121)

False

In [105]:
prime(127)

True

* **Map**

In [106]:
x,y,z=['hello','het','bye']

In [107]:
x

'hello'

In [108]:
y

'het'

In [109]:
z

'bye'

In [110]:
x,y,z=input().split()

1 2 3

In [111]:
type(x)

str

In [113]:
type(y)

str

In [114]:
type(z)

str

In [119]:
#Map---->Mapping a function to the sequences 
#Map is also a generator object

In [116]:
#map(function,sequence)

In [122]:
x=map(int,input().split())

1 2 3 4 5 6

In [118]:
x

In [120]:
print(*x)

1 2 3 4 5 6 7

In [123]:
for i in x:
    print(x)
    print(type(x))

<map object at 0x000001C88A0809B0>
<class 'map'>
<map object at 0x000001C88A0809B0>
<class 'map'>
<map object at 0x000001C88A0809B0>
<class 'map'>
<map object at 0x000001C88A0809B0>
<class 'map'>
<map object at 0x000001C88A0809B0>
<class 'map'>
<map object at 0x000001C88A0809B0>
<class 'map'>

In [124]:
x=list(map(int,input().split()))

1 2 3 4 5 6 7

In [125]:
x

[1, 2, 3, 4, 5, 6, 7]

In [127]:
for i in x:
    print(type(i))
    print(i)

<class 'int'>
1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
6
<class 'int'>
7

In [128]:
x=list(map(lambda x: ''.join(x),input().split()))

s a m y a k

In [129]:
x

['s', 'a', 'm', 'y', 'a', 'k']

In [130]:
def join(x):
    return ''.join(x)

In [131]:
join(['1','2','3','4','5'])

'12345'

In [136]:
x=map(join,['1','2','3','4'])

In [137]:
print(*x)

1 2 3 4

In [139]:
x=list(map(lambda x,y:x**2+y**2,[i for i in range(1,5)],[i for i in range(6,10)]))

In [140]:
x

[37, 53, 73, 97]

In [141]:
def sq(x,y):
    return x**2+y**2

In [142]:
l1=[i for i in range(1,5)]
l2=[i for i in range(6,10)]

In [143]:
x=list(map(sq,l1,l2))

In [144]:
x

[37, 53, 73, 97]

In [154]:
x=[['A',21],['C',25],['B',22],['Z',19]]

In [149]:
x.sort()

In [150]:
x

[['A', 21], ['B', 22], ['C', 25]]

In [156]:
x.sort(key=lambda x : x[1])

In [157]:
x

[['Z', 19], ['A', 21], ['B', 22], ['C', 25]]

In [158]:
def even(num):
    if num%2==0:
        return True
    else:
        return False

In [160]:
x=list(map(even,[i for i in range(2,21)]))

In [161]:
x

[True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True]

In [167]:
def even(num):
    if num%2==0:
        return num

In [168]:
x=list(map(even,[i for i in range(2,21)]))

In [169]:
print(*x)

2 None 4 None 6 None 8 None 10 None 12 None 14 None 16 None 18 None 20

In [170]:
x=list(filter(even,[i for i in range(2,21)]))

In [171]:
print(*x)

2 4 6 8 10 12 14 16 18 20