In [1]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [2]:
l=[i for i in dir(dict) if i[0].islower()]

In [4]:
print(*l,sep='\n')

clear
copy
fromkeys
get
items
keys
pop
popitem
setdefault
update
values

In [5]:
d={'Name':"Sachin",'Course':'DS'}

In [6]:
d["Name"]

'Sachin'

In [7]:
d['Course']

'DS'

In [8]:
d.setdefault('Age',21)

21

In [9]:
d

{'Name': 'Sachin', 'Course': 'DS', 'Age': 21}

In [10]:
d.setdefault('Course','Python')

'DS'

In [11]:
d.update(color='red')

In [12]:
d

{'Name': 'Sachin', 'Course': 'DS', 'Age': 21, 'color': 'red'}

In [13]:
d.update(Course='Python')

In [14]:
d

{'Name': 'Sachin', 'Course': 'Python', 'Age': 21, 'color': 'red'}

In [15]:
d.pop('color')

'red'

In [16]:
d.pop('color')

KeyError: 'color'

In [17]:
d.pop('color','black')

'black'

In [18]:
d.pop('Age',22)

21

In [19]:
d.pop('Age',22)

22

In [20]:
d

{'Name': 'Sachin', 'Course': 'Python'}

In [21]:
print(type(d.popitem()))

<class 'tuple'>

In [22]:
d

{'Name': 'Sachin'}

In [23]:
d.popitem()

('Name', 'Sachin')

In [24]:
d.popitem()

KeyError: 'popitem(): dictionary is empty'

In [25]:
d

{}

In [26]:
d.fromkeys('ABCD')

{'A': None, 'B': None, 'C': None, 'D': None}

In [27]:
d

{}

In [28]:
d.fromkeys('ABCD',1)

{'A': 1, 'B': 1, 'C': 1, 'D': 1}

In [29]:
d.fromkeys('ABCD','EFGH')

{'A': 'EFGH', 'B': 'EFGH', 'C': 'EFGH', 'D': 'EFGH'}

In [30]:
d.fromkeys('ABCD',[1,2,3,4])

{'A': [1, 2, 3, 4], 'B': [1, 2, 3, 4], 'C': [1, 2, 3, 4], 'D': [1, 2, 3, 4]}

In [31]:
d.fromkeys('ABCD',(1,2,3,4))

{'A': (1, 2, 3, 4), 'B': (1, 2, 3, 4), 'C': (1, 2, 3, 4), 'D': (1, 2, 3, 4)}

In [44]:
d={1001:{'Name':'Sachin','Bal':10000,'Pwd':'redhat@123'},
   1002:{'Name':'Samyak','Bal':20000,'Pwd':'redhat'},
   1003:{'Name':'Rajat','Bal':30000,'Pwd':'1234'}
  }

In [33]:
d['Name']

KeyError: 'Name'

In [34]:
d.keys()

dict_keys([1001, 1002, 1003])

In [35]:
1001['Name']

TypeError: 'int' object is not subscriptable

In [36]:
d[1001]['Name']

'Sachin'

In [37]:
d[1002]['Name']

'Samyak'

In [38]:
d[1003]['Name']

'Rajat'

In [39]:
for i in d:
    print(i)

1001
1002
1003

In [40]:
for i in d:
    print(d[i])

{'Name': 'Sachin', 'Bal': 10000, 'Pwd': 'redhat@123'}
{'Name': 'Samyak', 'Bal': 20000, 'Pwd': 'redhat'}
{'Name': 'Rajat', 'Bal': 30000, 'PWd': '1234'}

In [41]:
for i in d:
    print(d[i]['Name'])

Sachin
Samyak
Rajat

In [42]:
for i in d:
    print(d[i]['Bal'])

10000
20000
30000

In [45]:
for i in d:
    print(d[i]['Pwd'])

redhat@123
redhat
1234

In [46]:
print(d[1001]['Name'])
print(d[1002]['Name'])
print(d[1003]['Name'])

Sachin
Samyak
Rajat

In [47]:
d.keys()

dict_keys([1001, 1002, 1003])

In [48]:
for i in d:
    print(d[i]['Name'])

Sachin
Samyak
Rajat

In [49]:
for i in d:
    print(d[i]['Bal'])

10000
20000
30000

In [50]:
for i in d:
    print(d[i]['Pwd'])

redhat@123
redhat
1234

In [54]:
for i in d:
    for j in d[i]:
        print(d[i][j])

Sachin
10000
redhat@123
Samyak
20000
redhat
Rajat
30000
1234

In [53]:
d[1001]

{'Name': 'Sachin', 'Bal': 10000, 'Pwd': 'redhat@123'}

In [55]:
for i in d:
    print(f"Name--->{d[i]['Name']}\tBalance--->{d[i]['Bal']}\tPasswd--->{d[i]['Pwd']}")

Name--->Sachin	Balance--->10000	Passwd--->redhat@123
Name--->Samyak	Balance--->20000	Passwd--->redhat
Name--->Rajat	Balance--->30000	Passwd--->1234

In [56]:
d

{1001: {'Name': 'Sachin', 'Bal': 10000, 'Pwd': 'redhat@123'},
 1002: {'Name': 'Samyak', 'Bal': 20000, 'Pwd': 'redhat'},
 1003: {'Name': 'Rajat', 'Bal': 30000, 'Pwd': '1234'}}

In [60]:
acc=int(input('Enter account Number'))
if acc in d:
    pwd=input('Enter Password')
    if pwd==d[acc]['Pwd']:
        print(f"Name--->{d[acc]['Name']} Bal--->{d[acc]['Bal']}")
    else:
        print('Invalid Password')
else:
    print('Account not Exist')

Enter account Number1002
Enter Passwordredhat
Name--->Samyak Bal--->20000

In [61]:
acc=int(input('Enter account Number'))
if acc in d:
    pwd=input('Enter Password')
    if pwd==d[acc]['Pwd']:
        print(f"Name--->{d[acc]['Name']} Bal--->{d[acc]['Bal']}")
    else:
        print('Invalid Password')
else:
    print('Account not Exist')

Enter account Number1001
Enter Passworddwdwde
Invalid Password

In [62]:
acc=int(input('Enter account Number'))
if acc in d:
    pwd=input('Enter Password')
    if pwd==d[acc]['Pwd']:
        print(f"Name--->{d[acc]['Name']} Bal--->{d[acc]['Bal']}")
    else:
        print('Invalid Password')
else:
    print('Account not Exist')

Enter account Number1004
Account not Exist

In [63]:
d={1001:{'Name':input('Enter Train Name: '),'Source':input('Enter Source Station: '),'Dest':input('Enter Destination Station: '),'Duartion':input('Enter Time from Source to Destination in HH:MM: '),'Stopage':input('Enter Stopage List Seprated By Space').split()},
   1002:{'Name':input('Enter Train Name: '),'Source':input('Enter Source Station: '),'Dest':input('Enter Destination Station: '),'Duartion':input('Enter Time from Source to Destination in HH:MM: '),'Stopage':input('Enter Stopage List Seprated By Space').split()},
   1003:{'Name':input('Enter Train Name: '),'Source':input('Enter Source Station: '),'Dest':input('Enter Destination Station: '),'Duartion':input('Enter Time from Source to Destination in HH:MM: '),'Stopage':input('Enter Stopage List Seprated By Space').split()}
  }

Enter Train Name: Rajdhani Express
Enter Source Station: Delhi
Enter Destination Station: Mumbai
Enter Time from Source to Destination in HH:MM: 18:10
Enter Stopage List Seprated By SpaceMathura Bharatpur Kota Ratlam Surat Vadodara
Enter Train Name: Golden Temple
Enter Source Station: Amritsar
Enter Destination Station: Mumbai
Enter Time from Source to Destination in HH:MM: 16:00
Enter Stopage List Seprated By SpaceMohali Jaipur Kota Surat Gujrat
Enter Train Name: Delhi Jaipur Express
Enter Source Station: Delhi
Enter Destination Station: Jaipur
Enter Time from Source to Destination in HH:MM: 4:00
Enter Stopage List Seprated By SpaceMathura

In [64]:
print(d)

{1001: {'Name': 'Rajdhani Express', 'Source': 'Delhi', 'Dest': 'Mumbai', 'Duartion': '18:10', 'Stopage': ['Mathura', 'Bharatpur', 'Kota', 'Ratlam', 'Surat', 'Vadodara']}, 1002: {'Name': 'Golden Temple', 'Source': 'Amritsar', 'Dest': 'Mumbai', 'Duartion': '16:00', 'Stopage': ['Mohali', 'Jaipur', 'Kota', 'Surat', 'Gujrat']}, 1003: {'Name': 'Delhi Jaipur Express', 'Source': 'Delhi', 'Dest': 'Jaipur', 'Duartion': '4:00', 'Stopage': ['Mathura']}}

In [65]:
from pprint import pprint

In [66]:
pprint(d)

{1001: {'Dest': 'Mumbai',
        'Duartion': '18:10',
        'Name': 'Rajdhani Express',
        'Source': 'Delhi',
        'Stopage': ['Mathura',
                    'Bharatpur',
                    'Kota',
                    'Ratlam',
                    'Surat',
                    'Vadodara']},
 1002: {'Dest': 'Mumbai',
        'Duartion': '16:00',
        'Name': 'Golden Temple',
        'Source': 'Amritsar',
        'Stopage': ['Mohali', 'Jaipur', 'Kota', 'Surat', 'Gujrat']},
 1003: {'Dest': 'Jaipur',
        'Duartion': '4:00',
        'Name': 'Delhi Jaipur Express',
        'Source': 'Delhi',
        'Stopage': ['Mathura']}}

In [67]:
d[1001]

{'Name': 'Rajdhani Express',
 'Source': 'Delhi',
 'Dest': 'Mumbai',
 'Duartion': '18:10',
 'Stopage': ['Mathura', 'Bharatpur', 'Kota', 'Ratlam', 'Surat', 'Vadodara']}

In [68]:
d[1002]

{'Name': 'Golden Temple',
 'Source': 'Amritsar',
 'Dest': 'Mumbai',
 'Duartion': '16:00',
 'Stopage': ['Mohali', 'Jaipur', 'Kota', 'Surat', 'Gujrat']}

In [70]:
d[1003]

{'Name': 'Delhi Jaipur Express',
 'Source': 'Delhi',
 'Dest': 'Jaipur',
 'Duartion': '4:00',
 'Stopage': ['Mathura']}

In [71]:
d.keys()

dict_keys([1001, 1002, 1003])

In [72]:
d[1001]['Name']

'Rajdhani Express'

In [77]:
for i in d:
    print(f"Name of Train: {d[i]['Name']}")
    print(f"Source: {d[i]['Source']}")
    print(f"Destination: {d[i]['Dest']}")
    print(f"Duration: {d[i]['Duartion']}")
    print(f"Stopage: {d[i]['Stopage']}")
    print(end='\n\n')

Name of Train: Rajdhani Express
Source: Delhi
Destination: Mumbai
Duration: 18:10
Stopage: ['Mathura', 'Bharatpur', 'Kota', 'Ratlam', 'Surat', 'Vadodara']


Name of Train: Golden Temple
Source: Amritsar
Destination: Mumbai
Duration: 16:00
Stopage: ['Mohali', 'Jaipur', 'Kota', 'Surat', 'Gujrat']


Name of Train: Delhi Jaipur Express
Source: Delhi
Destination: Jaipur
Duration: 4:00
Stopage: ['Mathura']

In [79]:
type(d[1003]['Stopage'])

list

In [80]:
d[1003]['Stopage'].append('Sawaimadhopur')

In [81]:
d

{1001: {'Name': 'Rajdhani Express',
  'Source': 'Delhi',
  'Dest': 'Mumbai',
  'Duartion': '18:10',
  'Stopage': ['Mathura', 'Bharatpur', 'Kota', 'Ratlam', 'Surat', 'Vadodara']},
 1002: {'Name': 'Golden Temple',
  'Source': 'Amritsar',
  'Dest': 'Mumbai',
  'Duartion': '16:00',
  'Stopage': ['Mohali', 'Jaipur', 'Kota', 'Surat', 'Gujrat']},
 1003: {'Name': 'Delhi Jaipur Express',
  'Source': 'Delhi',
  'Dest': 'Jaipur',
  'Duartion': '4:00',
  'Stopage': ['Mathura', 'Sawaimadhopur']}}

In [82]:
d={'Electronic':{
                    'Mobile':{'Brand':['One Plus','Samsung'],'Price':[50000,20000],'Stock':[40,60]},
                    'Laptop':{'Brand':['Microsoft','Samsung'],'Price':[200000,50000],'Stock':[20,40]},
                },
  
   'Stationary':{
                 'Pen':{'Brand':['Link','Fine'],'Price':[5,10],'Stock':[100,150]},
                 'Register':{'Brand':['Classmate','Icon'],'Price':[50,70],'Stock':[100,100]}
                },
   
   'Chocolate':{
                   'Cadbury':{'Brand':['Dairy Milk','5-Star'],'Price':[20,10],'Stock':[100,150]},
                   'Nestle':{'Brand':['Munch','Kit-Kat'],'Price':[5,10],'Stock':[100,200]}
               }
  }

In [83]:
d.keys()

dict_keys(['Electronic', 'Stationary', 'Chocolate'])

In [84]:
d['Electronic'].keys()

dict_keys(['Mobile', 'Laptop'])

In [85]:
d['Electronic']['Mobile']

{'Brand': ['One Plus', 'Samsung'], 'Price': [50000, 20000], 'Stock': [40, 60]}

In [86]:
d['Electronic']['Mobile'].keys()

dict_keys(['Brand', 'Price', 'Stock'])

In [87]:
d['Electronic']['Mobile']['Brand']

['One Plus', 'Samsung']

In [88]:
d['Electronic']['Mobile']['Brand'].keys()

AttributeError: 'list' object has no attribute 'keys'

In [89]:
d['Electronic']['Laptop']['Brand']

['Microsoft', 'Samsung']

In [90]:
d['Electronic']['Laptop']['Price']

[200000, 50000]

In [91]:
for i in d['Electronic']['Laptop']:
    print(i)

Brand
Price
Stock

In [99]:
for i in d['Electronic']['Laptop']:
    for j in range(len(d['Electronic']['Laptop'][i])):
        print(d['Electronic']['Laptop'][i][j])

Microsoft
Samsung
200000
50000
20
40

In [112]:
for i in d['Electronic']['Laptop']:
    print(f"{d['Electronic']['Laptop'][i][0]}")
for i in d['Electronic']['Laptop']:
    print(f"{d['Electronic']['Laptop'][i][1]}")

Microsoft
200000
20
Samsung
50000
40

In [124]:
for i in d['Electronic']['Laptop']:
    for j in range(2):
        print(f"{i}--->{d['Electronic']['Laptop'][i][j]}",end=' ')
    print(end='\n')

Brand--->Microsoft Brand--->Samsung
Price--->200000 Price--->50000
Stock--->20 Stock--->40