In [3]:
t=(i for i in range(1,101))

In [4]:
print(*t)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [5]:
#pallindromic +ive integer

In [8]:
import random 
l=[random.randint(10,100) for i in range(30)]

In [9]:
for i in l:
    if str(i)==str(i)[::-1]:
        print(i)

33
44
11

In [10]:
l1=[i for i in l if str(i)==str(i)[::-1]]

In [11]:
l1

[33, 44, 11]

In [13]:
all([True,True,True,True,False])

False

In [15]:
any([False,False,False,False])

False

In [45]:
l=[random.randint(-5,100) for i in range(10)]

In [46]:
all([i> 0 for i in l]) and any([str(i)==str(i)[::-1] for i in l])

False

In [42]:
l

[88, 68, 91, 99, 50, 96, 61, 99, 51, 86]

In [47]:
l

[51, 78, -2, -3, 76, 18, 64, 41, 28, 12]

Dictionary:
            It is the collection of key and value pairs
            Mutable Data Type
            Iterable Data Type
            Subscriptable
            Ordered  Data Type

In [48]:
d={'Name':'Sachin','Course':'Python'}

In [49]:
d[0]

KeyError: 0

In [50]:
d['Name']

'Sachin'

In [51]:
id(d)

462224017664

In [52]:
d['Course']

'Python'

In [53]:
d['Course']='DS'

In [54]:
d

{'Name': 'Sachin', 'Course': 'DS'}

In [55]:
id(d)

462224017664

In [56]:
hash(d)

TypeError: unhashable type: 'dict'

In [57]:
t=(1,2,3,34)

In [58]:
l=[1,2,3,4]

In [59]:
l[0]

1

In [60]:
l[0]='hey'

In [61]:
l

['hey', 2, 3, 4]

In [62]:
t[0]

1

In [63]:
t[0]='hiii'

TypeError: 'tuple' object does not support item assignment

In [64]:
s='hello'

In [65]:
s[0]

'h'

In [66]:
s[0]='p'

TypeError: 'str' object does not support item assignment

In [67]:
d

{'Name': 'Sachin', 'Course': 'DS'}

In [68]:
id(d)

462224017664

In [69]:
d['Age']

KeyError: 'Age'

In [70]:
d['Age']=24

In [71]:
d

{'Name': 'Sachin', 'Course': 'DS', 'Age': 24}

In [72]:
id(d)

462224017664

In [73]:
d['Age']

24

In [74]:
d['color']

KeyError: 'color'

In [75]:
d.get('Age')

24

In [76]:
d.get('Name')

'Sachin'

In [77]:
d.get('color')

In [78]:
x=d.get('color')

In [79]:
print(x)

None

In [80]:
d.get('color','Not Avialble')

'Not Avialble'

In [81]:
d.get('color',4)

4

In [82]:
d['color']='fair'

In [83]:
d.get('color','Hiii')

'fair'

In [85]:
d.get('Attandance','A')

'A'

In [86]:
d1=d

In [88]:
d2=d.copy()

In [89]:
id(d)

462224017664

In [90]:
id(d1)

462224017664

In [91]:
id(d2)

462224203280

In [92]:
d.clear()

In [93]:
d

{}

In [94]:
d1

{}

In [95]:
d2

{'Name': 'Sachin', 'Course': 'DS', 'Age': 24, 'color': 'fair'}

In [96]:
d={'Name':'Samyak'}

In [97]:
id(d)

462224287208

In [98]:
d['course':'DS']

TypeError: unhashable type: 'slice'

In [99]:
d['course']='DS'

In [100]:
print(dir(d))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [101]:
d['course']

'DS'

In [102]:
d['age']=24

In [103]:
d

{'Name': 'Samyak', 'course': 'DS', 'age': 24}

In [104]:
d.pop('age')

24

In [105]:
d.pop()

TypeError: pop expected at least 1 arguments, got 0

In [106]:
d.popitem()

('course', 'DS')

In [107]:
d2

{'Name': 'Sachin', 'Course': 'DS', 'Age': 24, 'color': 'fair'}

In [108]:
d=d2

In [109]:
d

{'Name': 'Sachin', 'Course': 'DS', 'Age': 24, 'color': 'fair'}

In [110]:
d.popitem()

('color', 'fair')

In [111]:
d2

{'Name': 'Sachin', 'Course': 'DS', 'Age': 24}

In [112]:
d={}

d['A']='B'
d['C']='D'
d['E']='F'
d['G']='H'

In [113]:
d

{'A': 'B', 'C': 'D', 'E': 'F', 'G': 'H'}

In [114]:
d.keys()

dict_keys(['A', 'C', 'E', 'G'])

In [115]:
d.values()

dict_values(['B', 'D', 'F', 'H'])

In [116]:
d2

{'Name': 'Sachin', 'Course': 'DS', 'Age': 24}

In [117]:
d2.keys()

dict_keys(['Name', 'Course', 'Age'])

In [118]:
d2.values()

dict_values(['Sachin', 'DS', 24])

In [119]:
d.items()

dict_items([('A', 'B'), ('C', 'D'), ('E', 'F'), ('G', 'H')])

In [120]:
d2.items()

dict_items([('Name', 'Sachin'), ('Course', 'DS'), ('Age', 24)])

In [121]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]

In [122]:
x=zip(l1,l2)

In [ ]:
print(*x)

In [123]:
x

In [124]:
print(*x)

(1, 6) (2, 7) (3, 8) (4, 9) (5, 10)

In [125]:
l1=[i for i  in range(10) if i%2==0]
l2=[i for i in range(20) if i%3==0]

In [126]:
l1

[0, 2, 4, 6, 8]

In [127]:
l2

[0, 3, 6, 9, 12, 15, 18]

In [128]:
print(*zip(l1,l2))

(0, 0) (2, 3) (4, 6) (6, 9) (8, 12)

In [129]:
print(*zip(l2,l1))

(0, 0) (3, 2) (6, 4) (9, 6) (12, 8)

In [130]:
x=zip(l1,l2)

In [131]:
z

NameError: name 'z' is not defined

In [132]:
x

In [133]:
print(*x)

(0, 0) (2, 3) (4, 6) (6, 9) (8, 12)

In [134]:
print(*x)

In [135]:
for i in l1:
    print(i)

0
2
4
6
8

In [136]:
for i in l2:
    print(i)

0
3
6
9
12
15
18

In [137]:
for i in zip(l1,l2):
    print(i)

(0, 0)
(2, 3)
(4, 6)
(6, 9)
(8, 12)

In [138]:
for i,j in zip(l1,l2):
    print(i,j)

0 0
2 3
4 6
6 9
8 12

In [139]:
for i,j in zip(l1,l2):
    print(f'{i}--->{j}')

0--->0
2--->3
4--->6
6--->9
8--->12

In [140]:
l1=[i for i in range(2,21,2)]
l2=[i for i  in range(5,51,5)]
l3=[i for i in  range(10,101,10)]
l4=[i for i in range(15,151,15)]

In [141]:
l1

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [142]:
l2

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [143]:
l3

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [144]:
l4

[15, 30, 45, 60, 75, 90, 105, 120, 135, 150]

In [145]:
for i in zip(l1,l2,l3,l4):
    print(i)

(2, 5, 10, 15)
(4, 10, 20, 30)
(6, 15, 30, 45)
(8, 20, 40, 60)
(10, 25, 50, 75)
(12, 30, 60, 90)
(14, 35, 70, 105)
(16, 40, 80, 120)
(18, 45, 90, 135)
(20, 50, 100, 150)

In [147]:
for a,b,c,d in zip(l1,l2,l3,l4):
    print(a,b,c,d,sep='\t')

2	5	10	15
4	10	20	30
6	15	30	45
8	20	40	60
10	25	50	75
12	30	60	90
14	35	70	105
16	40	80	120
18	45	90	135
20	50	100	150

In [148]:
x=input()
print(f'hello wolrd to {x}')

india
hello wolrd to india

In [154]:
x=input()
print(f'hello wolrd to {x :<50}')

india
hello wolrd to india

In [160]:
for a,b,c,d in zip(l1,l2,l3,l4):
    print(f'{a :>5} {b :>5} {c :>5} {d :>5}')

    2     5    10    15
    4    10    20    30
    6    15    30    45
    8    20    40    60
   10    25    50    75
   12    30    60    90
   14    35    70   105
   16    40    80   120
   18    45    90   135
   20    50   100   150

In [161]:
d

150

In [162]:
d={'Name':'Sachin','Course':'DS','Age':24}

In [163]:
d.keys()

dict_keys(['Name', 'Course', 'Age'])

In [164]:
d.values()

dict_values(['Sachin', 'DS', 24])

In [165]:
d.items()

dict_items([('Name', 'Sachin'), ('Course', 'DS'), ('Age', 24)])

In [167]:
for i in d.keys():
    print(i)

Name
Course
Age

In [168]:
for i in  d.values():
    print(i)

Sachin
DS
24

In [169]:
for i in d.items():
    print(i)

('Name', 'Sachin')
('Course', 'DS')
('Age', 24)

In [171]:
for i,j in d.items():
    print(i,j)

Name Sachin
Course DS
Age 24

In [172]:
for key,value in d.items():
    print(f'{key}--->{value}')

Name--->Sachin
Course--->DS
Age--->24

In [173]:
for i in d:
    print(i)

Name
Course
Age

In [174]:
if 'Name' in d.keys() and 'Name' in d:
    print('hello world')

hello world

In [175]:
print(*d)

Name Course Age

In [176]:
print(*d.keys())

Name Course Age

In [177]:
print(*d.values())

Sachin DS 24

In [178]:
print(*d.items())

('Name', 'Sachin') ('Course', 'DS') ('Age', 24)

In [180]:
for key,value in zip(d.keys(),d.values()):
    print(f'{key}={value}')

Name=Sachin
Course=DS
Age=24

In [181]:
d['Name']

'Sachin'

In [182]:
d['Sachin']

KeyError: 'Sachin'

In [183]:
len(d)

3

In [184]:
for i in range(len(d)):
    print(d[i])

KeyError: 0

In [186]:
for i in range(len(d)):
    print(d.get(i,input()))

hello
hello
hey
hey
bye
bye

In [187]:
for i in d.keys():
    print(d[i])

Sachin
DS
24

In [188]:
for i in d.values():
    print(d[i])

KeyError: 'Sachin'

In [189]:
d1={}

In [194]:
d1['A']='B'
d1['B']='C'
d1['C']='D'
d1['D']='E'
d1['E']='B'

{'A': 'B', 'B': 'C', 'C': 'D', 'D': 'E'}

In [195]:
for i in d1.values():
    print(d1[i])

C
D
E
B
C